*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: serif;
  }
  body{
    background-color: rgb(174, 174, 236);
    color: green;
  }
  .naver{
    background-color: white;
    height: 80px;
    border-radius: 50px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 30px;
    overflow: hidden;
  }
  .nav1{
   display: flex;
   align-items: center;
   justify-content: center;
  }
  .nav1-image{
    background-image: url(../public/new_R-removebg-preview.png);
    height: 60px;
    width: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .nav1 h1{
    font-size: 50px;
  }
  .nav-icon{
    font-size: 30px;
    transform: translate(400px, 0px);
    color: black;
  }
  .sign-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 237, 237);
    padding: 80px 0px 20px 0px;
    margin: 40px 300px 0px 300px;
    border-radius: 80px;
    border: 3px solid gray;
    box-shadow: 5px 5px rgba(58, 53, 53, 0.6);
    overflow: hidden;
}
.sign-up h1{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.sign-up2{
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: center;
}
.sign-up2 input{
    padding: 10px 40px;
}
.sign-up3{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.checkbox{
    display: flex;
    justify-content: center;
    margin-top: 13px;
}
.button button{
   font-size: 30px;
   border: 1px solid blue;
   padding: 20px 100px;
   border-radius: 20px;
   background-color: rgb(59, 138, 111);
}
.button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 237, 237);
    padding: 80px 0px 20px 0px;
    margin: 40px 300px 0px 300px;
    border-radius: 80px;
    border: 3px solid gray;
    box-shadow: 5px 5px rgba(58, 53, 53, 0.6);
    gap: 1rem;
    justify-content: center; 
   
}
.login2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.login2-1{
    display: flex;
}
.login1 input{
    padding: 30px 70px;
    margin-left: 0px;
    margin-bottom: 20px;
}
.login3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.login3 button{
    font-size: 30px;
    border: 1px solid blue;
    padding: 20px 100px;
    border-radius: 20px;
    background-color: rgb(59, 138, 111);
}
.center{
   margin-left: 120px;
   margin-bottom: 40px;
}
.send{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 200px;
}
.send1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
 }
.send input{
    width: 30px;
    height: 20px;
    margin-bottom: 15px;
}
.send p{
    padding-bottom: 10px;
}
.sign-up3 i{
 transform: translate(200px,-45px);
}
.phone{
   transform: translate(0px,-16px);
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.icon i{
    display: inline-block;
    transform: translate(-60px,0px);
    
}
.forgotten{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    gap: 1rem;
}
.forgotten input{
    font-size: 30px;
}
.forgotten p{
    font-size: 30px;
}
.forgotten button{
    font-size: 30px;
    background-color: rgb(59, 138, 111);
    border-radius: 8px;
    border: 1px solid blue;
}
.it{
    display: flex;
    align-items: center;
}
.it p{
   transform: translate(400px,0px);
   font-size: 35px;
}
.buy{
    border: 1px solid green;
    width: 97%;
    margin-left: 20px;
    height: 150px;
    margin-top: 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(111, 0, 255);
    color: white;
    border-radius: 30px;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.buy p{
    padding-top: 30px;
    padding-left: 30px;
}
.inp{
    padding: 30px;
    padding-right: 30px;
}
.sim{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 80px;
}
.sim1{
    display: flex;
    align-items: center;
    margin-right: 300px;
    margin-left: 300px;
    gap: 7rem;
    margin-top: 90px;
}
.sim1-1{
    display: flex;
    gap: 7rem;
}
.sim-card1 {
    width: 80px;
    height: 100px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQONVo51lsGZQ9u68BPYzRLcOP8aC57rLXv3A&s);
    border-radius: 15px 40px 15px 15px; /* Round only the top-right */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sim-card2 {
    width: 80px;
    height: 100px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlH08RFObup_r5ealmlMPycdSR8qHm_dvt9w&s);
    border-radius: 15px 40px 15px 15px; /* Round only the top-right */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
  }
  .sim-card3 {
    width: 80px;
    height: 100px;
    background-image: url(https://dailytrust.com/wp-content/uploads/2019/12/glo-NIGERIA-Globacom-.jpg);
    border-radius: 15px 40px 15px 15px; /* Round only the top-right */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sim-card4 {
    width: 80px;
    height: 100px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQ5NyP_4Se11SXnz9hvsbF829TqjE23u-0hg&s);
    border-radius: 15px 40px 15px 15px; /* Round only the top-right */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .set{
    font-size: 35px;
    display: flex;
  }
  .set1{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 5rem;
    margin-top: 70px;
  }
  .set1 button{
    font-size: 20px;
    width: 90%;
    height: 50px;
    margin-left: 5%;
    border-radius: 15px;
    box-shadow: 4px 6px 2px 2px rgba(0,0,0,0.2);
  }
  .set1-1{
    margin-left: 3%;
    margin-right: 3%;
    border: 3px solid gray;
    box-shadow: 4px 6px 2px 2px rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 10px 2%;
  }
  .set1-2{
    margin-left: 3%;
    margin-right: 3%;
    border: 3px solid gray;
    box-shadow: 4px 6px 2px 2px rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 10px 2%;
  }
  .set1-3{
    margin-left: 3%;
    margin-right: 3%;
    border: 3px solid gray;
    box-shadow: 4px 6px 2px 2px rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 10px 2%;
  }
  .whatsapp{
    width: 90px;
    height: 90px;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 70px;
    transform: translate(260px, 0px);
  }
  .whp{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    overflow: hidden;
    margin-top: 6px;
    margin-bottom: 20px;
  }
@media (max-width: 375px) {
    .sign-up{
        width: 100%;
        margin-left: 0px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: transparent;
        box-shadow: none;
        border: none;
    }
    .sign-up input{
      width: 100%;
    }
    .sign-up3 i{
        transform: translate(100px,-45px);
    }
    .checkbox{
        width: 100%;
        padding-bottom: 10px;
    }
    .checkbox input{
        width: 20px;
    }
    .login{
        margin: 0px;
        padding-top: 20px;
        margin-top: 50px;
        background-color: transparent;
        box-shadow: none;
        border: none;
    }
    .forgotten input{
        font-size: 20px;
    }
    .forgotten{
        width: 80%;
        margin-left: 40px;
        margin-top: 150px;
    }
    .sim{
        margin-bottom: 30px;
    }
    .sim1-1{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .buy{
       margin-left: 4.5px;
    }
    .sim h1{
        font-size: 25px;
    }
    .nav-icon{
        transform: translate(40px, 0px);
        font-size: 25px;
    }
    .inp{
        padding-top: 20px;
    }
}